<!DOCTYPE html>
<html>
<head>
  <style>
    .header {
      padding-top: 8px;
      margin: 0px;
      text-align: center;
      color: #63aba8;
      font-family: "verdana";
    }
    
    .mturk-id {
      display: table;
      margin: auto;
      margin-top: 50px;
    }

    .mturk-id input {
      margin-top: 5px;
    }
  </style>
  <title>Search Result Survey</title>
</head>
<body>
<h1 class="header">Thank you!</h1>
  
<div class="mturk-id">
  <form>
    <label for="mturk-id">Please enter your <b>MTurk Worker ID</b> to receive credit:</label><br>
    <input type="text" name="mturk-id" required size="20">
    <input type="submit" value="submit">
</form>
</div>

</body>
</html>