<!DOCTYPE html>
<html>
<head>
  <style>
    .header {
      padding-top: 8px;
      margin: 0px;
      text-align: center;
      color: #63aba8;
      font-family: "verdana";
    }
    
    .mturk-id {
      display: table;
      margin: auto;
      margin-top: 50px;
    }

    .mturk-id input {
      margin-top: 5px;
    }

    #phrase {
      display: none;
    }
  </style>
  <title>Search Result Survey</title>
</head>
<body>
<h1 class="header">Thank you!</h1>
  
<div class="mturk-id">
  <form id='form'>
    <label for="mturk-id">Please enter your <b>MTurk Worker ID</b>:</label><br>
    <input type="text" name="mturk-id" required size="20">
    <input type="button" id="submit" value="submit">
  </form>
  <div id="phrase">
    <p>Please enter DF45ST6X in your HIT in MTurk to receive credit.</p>
  </div>
</div>

</body>
</html>

<script>
  document.getElementById('submit').addEventListener('click', displayPhrase);
  function displayPhrase() {
    document.getElementById('form').style.display = 'none';
    document.getElementById('phrase').style.display = 'flex';
  }
</script>